*{margin:0;padding:0; font-family: 'Libre Baskerville', serif;}
section {
    padding: 50px 0px;
    margin-bottom: 50px;
}

.containt_rapper {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content:space-between ;
}

img {
    width: 100%;
}

h1.heading span {
    color: #ef3f70;
}

button.details_button {
    padding: 12px 25px;
    outline: none;
    border: none;
    background-color: #13837d;
    border-radius: 5px;
    cursor: pointer;
}

button.details_button a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.more_info{
    margin-top: 20px;
}

.image_section {
    width: 40%;
}
h1.heading {
    line-height: 70px;
    font-size: 40px;
    color: #222222;
    border-left: 5px solid;
    border-image: linear-gradient(#ef3f70,#222222);
    border-image-slice: 1;
    padding-left: 4px;
    height: 120px;
}

p.containt_text {
    line-height: 25px;
    text-align: justify;
    padding: 10px 0px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.first_info {
    width: 45%;
    margin-top: 30px;
}
.heading_two {
    width: 40%;
    margin-left: 9px;
    height: 50%;
}

.containt_two {
    width: 275px;
    text-align: justify;
}
.second_containt_rpeer {
    width: 290px;
    padding: 30px;
    border-radius: 15px;
}

h2.mission {
    color: #101010;
    margin-bottom: 15px;
    font-family: arial;
}

p.intorsuction {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
}
.main_parents {
    display: flex;
    width: 83%;
    margin: 0 auto;
    justify-content: space-between;
}
.color_two {
    background: #e1e1e1;
}

.color_three {
    background-color: #ffd1d1;
}

.color_one {background-color: #e0deff;}
h1.mission {
    text-align: center;
    margin-bottom: 65px;
    font-size: 45px;
    font-weight: bold;
    color: #202020;
}
h1.mission span {
    color: #ff2663;
}
section.third_section {
    margin-top: 100px;
}

.third_parents {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

.third_containt {
    width: 100%;
    margin-top: 10px;
}

.third_image {
    width: 100%;
    margin-right: 80px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 7px 8px 13px #e9e2e2;
}

span.third_color {
    color: #ff2663;
}

h1.non_develop {
    font-size: 40px;
    margin-bottom: 25px;
    line-height: 60px;
    color: #202020;
}
p.third_containt_parag {
    text-align: justify;
    margin-bottom: 30px;
    line-height: 25px;
}
.for_margin {
    margin-right: 0px;
    margin-left: 100px;
    box-shadow: 8px 6px 20px 0px #a1a1a1;
}
